[submodule "themes/themes/even"]
	path = themes/themes/even
	url = https://github.com/xiang578/hexo-theme-even.git
[submodule "themes/even"]
	path = themes/even
	url = https://github.com/xiang578/hexo-theme-even.git
